# -*- coding:utf-8; mode:conf; -*-
# hooks.rc

[hooks]
pretxncommit.whitespace = $HOME/.dotfiles/hg/hooks/check_whitespace.py
#pretxncommit.conflicts = $HOME/.dotfiles/hg/hooks/detect_merge_conflicts.py
